<h1>Password Generator</h1>

<div>
  <label for="">Enter length</label>
  <input (input)="onChangeLength($event.target.value)" type="string">
</div>

<div>
  <label for="">Use Letters</label>
  <input (change)="onChangeUseLetters()" type="checkbox">
</div>

<div>
  <label for="">Use Numbers</label>
  <input (change)="onChangeUseNumbers()" type="checkbox">
</div>

<div>
  <label for="">Use Symbols</label>
  <input (change)="onChangeUseSymbols()" type="checkbox">
</div>

<div>
  <button [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))"
    (click)="onButtonClick()">Generate</button>
</div>

<div>
  <label for="">Your Password</label>
  <input type="text" [value]="password" disabled>
</div>